@{
    ViewBag.Title = "Add";
}

@section title { Add Enrollment }
@section breadcrumb{ <a href="/Enroll/Add">Add</a>}

@model StundetInformation.Models.Enrolls

<!-- general form elements -->
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    @using (Html.BeginForm("Add", "Enroll", FormMethod.Post))
    {
        <div class="card-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Student ID</label>
                <input type="number" class="form-control" name="studentID" placeholder="Enter student's ID">
            </div>
            
            <div class="form-group">
                <label for="exampleInputEmail1">Course</label>
                @Html.DropDownList("courseID", ViewBag.CourseList as SelectList, "Select", new { @class = "custom-select" })
            </div>
        </div>

        <div class="card-footer">
            <button type="submit" class="btn btn-primary" id="studFormSubmit">Submit</button>
        </div>
    }

</div>
<!-- /.card -->
